<body>
  <script type="text/x-template" id="logged-in-template">
    <v-menu
      id="account-menu"
      :close-on-click="false"
      :close-on-content-click="false"
      v-model="dropdownVisible"
    >
      <v-tooltip bottom slot="activator">
        <v-btn
          id="account-button"
          @click="toggleDropdown()"
          flat
          slot="activator"
          >
            <v-icon>person</v-icon>
        </v-btn>
        <span>Manage account for {{displayName}}</span>
      </v-tooltip>
      <v-card v-if="dropdownVisible" class="elevation-12">
        <v-toolbar dark color="primary">
          <v-btn icon @click="hideDropdown()" dark>
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>{{displayName}}</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <div v-if="inMessageOnlyFlow">
            <login-messages></login-messages>
          </div>
          <div v-else>
            <div v-if="inChangePasswordFlow">
              <change-password></change-password>
            </div>
            <div v-else>
              <logged-in-actions></logged-in-actions>
            </div>
          </div>
        </v-card-text>
      </v-card>
    </v-menu>
  </script>

  <script type="text/x-template" id="change-password-template">
    <div>change password</div>
  </script>

  <script type="text/x-template" id="logged-in-actions-template">
    <v-list>
      <v-list-tile>
        <v-list-tile-content>Manage account</v-list-tile-content>
      </v-list-tile>
      <v-list-tile>
        <v-list-tile-action>
          <v-btn @click="logout()">Logout</v-btn>
        </v-list-tile-action>
      </v-list-tile>
    </v-list>
  </script>
</body>
