<body>
  <script type="text/x-template" id="logged-in-template">
    <v-menu
      id="account-menu"
      :close-on-click="false"
      :close-on-content-click="false"
      v-model="dropdownVisible"
    >
      <v-chip
        id="account-chip"
        @click="toggleDropdown()"
        slot="activator"
      >{{displayName}}
        <v-icon v-if="dropdownVisible">expand_more</v-icon>
        <v-icon v-if="!dropdownVisible">chevron_right</v-icon>
      </v-chip>
      <v-card v-if="dropdownVisible" class="elevation-12">
        <v-toolbar dark color="primary">
          <v-btn icon @click="hideDropdown()" dark>
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>Manage Account</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <div v-if="inMessageOnlyFlow">
            <login-messages></login-messages>
          </div>
          <div v-else>
            <div v-if="inChangePasswordFlow">
              <change-password></change-password>
            </div>
            <div v-else>
              <logged-in-actions></logged-in-actions>
            </div>
          </div>
        </v-card-text>
      </v-card>
    </v-menu>
  </script>

  <script type="text/x-template" id="change-password-template">
    <div>change password</div>
  </script>

  <script type="text/x-template" id="logged-in-actions-template">
    <div>
      <v-btn @click="logout()">Logout</v-btn>
      <p>Other logged in actions</p>
    </div>
  </script>
</body>
